CUSTOM_PRODUCT_NAME = ModernDesignExtensions
GCC_PREPROCESSOR_DEFINITIONS = MODERNDESIGN_FRAMEWORK_VERSION=@\"${MODERNDESIGN_FRAMEWORK_VERSION}\"
IPHONEOS_DEPLOYMENT_TARGET = 12.0
MODERNDESIGN_FRAMEWORK_VERSION = 1.5.0
OTHER_LDFLAGS = -ObjC
PRODUCT_BUNDLE_IDENTIFIER = com.roxiemobile.$(TARGET_NAME:rfc1034identifier)
PRODUCT_NAME = $(CUSTOM_PRODUCT_NAME)
SWIFT_VERSION = 5.3
TARGETED_DEVICE_FAMILY = 1,2
